@-moz-document url-prefix("https://gitlab.com/rimmington/") {
.job-log-line {
    min-height: 16px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 16px;
    font-size: 14px;
}

.build-page .xterm-bg-0 {
 background-color:#000
}
.build-page .xterm-bg-1 {
 background-color:#800000
}
.build-page .xterm-bg-2 {
 background-color:#008000
}
.build-page .xterm-bg-3 {
 background-color:#808000
}
.build-page .xterm-bg-4 {
 background-color:#000080
}
.build-page .xterm-bg-5 {
 background-color:#800080
}
.build-page .xterm-bg-6 {
 background-color:#008080
}
.build-page .xterm-bg-7 {
 background-color:#c0c0c0
}
.build-page .xterm-bg-8 {
 background-color:#808080
}
.build-page .xterm-bg-9 {
 background-color:#f00
}
.build-page .xterm-bg-10 {
 background-color:#0f0
}
.build-page .xterm-bg-11 {
 background-color:#ff0
}
.build-page .xterm-bg-12 {
 background-color:#00f
}
.build-page .xterm-bg-13 {
 background-color:#f0f
}
.build-page .xterm-bg-14 {
 background-color:#0ff
}
.build-page .xterm-bg-15 {
 background-color:#ccc
}
.build-page .xterm-bg-16 {
 background-color:#000
}
.build-page .xterm-bg-17 {
 background-color:#00005f
}
.build-page .xterm-bg-18 {
 background-color:#000087
}
.build-page .xterm-bg-19 {
 background-color:#0000af
}
.build-page .xterm-bg-20 {
 background-color:#0000d7
}
.build-page .xterm-bg-21 {
 background-color:#00f
}
.build-page .xterm-bg-22 {
 background-color:#005f00
}
.build-page .xterm-bg-23 {
 background-color:#005f5f
}
.build-page .xterm-bg-24 {
 background-color:#005f87
}
.build-page .xterm-bg-25 {
 background-color:#005faf
}
.build-page .xterm-bg-26 {
 background-color:#005fd7
}
.build-page .xterm-bg-27 {
 background-color:#005fff
}
.build-page .xterm-bg-28 {
 background-color:#008700
}
.build-page .xterm-bg-29 {
 background-color:#00875f
}
.build-page .xterm-bg-30 {
 background-color:#008787
}
.build-page .xterm-bg-31 {
 background-color:#0087af
}
.build-page .xterm-bg-32 {
 background-color:#0087d7
}
.build-page .xterm-bg-33 {
 background-color:#0087ff
}
.build-page .xterm-bg-34 {
 background-color:#00af00
}
.build-page .xterm-bg-35 {
 background-color:#00af5f
}
.build-page .xterm-bg-36 {
 background-color:#00af87
}
.build-page .xterm-bg-37 {
 background-color:#00afaf
}
.build-page .xterm-bg-38 {
 background-color:#00afd7
}
.build-page .xterm-bg-39 {
 background-color:#00afff
}
.build-page .xterm-bg-40 {
 background-color:#00d700
}
.build-page .xterm-bg-41 {
 background-color:#00d75f
}
.build-page .xterm-bg-42 {
 background-color:#00d787
}
.build-page .xterm-bg-43 {
 background-color:#00d7af
}
.build-page .xterm-bg-44 {
 background-color:#00d7d7
}
.build-page .xterm-bg-45 {
 background-color:#00d7ff
}
.build-page .xterm-bg-46 {
 background-color:#0f0
}
.build-page .xterm-bg-47 {
 background-color:#00ff5f
}
.build-page .xterm-bg-48 {
 background-color:#00ff87
}
.build-page .xterm-bg-49 {
 background-color:#00ffaf
}
.build-page .xterm-bg-50 {
 background-color:#00ffd7
}
.build-page .xterm-bg-51 {
 background-color:#0ff
}
.build-page .xterm-bg-52 {
 background-color:#5f0000
}
.build-page .xterm-bg-53 {
 background-color:#5f005f
}
.build-page .xterm-bg-54 {
 background-color:#5f0087
}
.build-page .xterm-bg-55 {
 background-color:#5f00af
}
.build-page .xterm-bg-56 {
 background-color:#5f00d7
}
.build-page .xterm-bg-57 {
 background-color:#5f00ff
}
.build-page .xterm-bg-58 {
 background-color:#5f5f00
}
.build-page .xterm-bg-59 {
 background-color:#5f5f5f
}
.build-page .xterm-bg-60 {
 background-color:#5f5f87
}
.build-page .xterm-bg-61 {
 background-color:#5f5faf
}
.build-page .xterm-bg-62 {
 background-color:#5f5fd7
}
.build-page .xterm-bg-63 {
 background-color:#5f5fff
}
.build-page .xterm-bg-64 {
 background-color:#5f8700
}
.build-page .xterm-bg-65 {
 background-color:#5f875f
}
.build-page .xterm-bg-66 {
 background-color:#5f8787
}
.build-page .xterm-bg-67 {
 background-color:#5f87af
}
.build-page .xterm-bg-68 {
 background-color:#5f87d7
}
.build-page .xterm-bg-69 {
 background-color:#5f87ff
}
.build-page .xterm-bg-70 {
 background-color:#5faf00
}
.build-page .xterm-bg-71 {
 background-color:#5faf5f
}
.build-page .xterm-bg-72 {
 background-color:#5faf87
}
.build-page .xterm-bg-73 {
 background-color:#5fafaf
}
.build-page .xterm-bg-74 {
 background-color:#5fafd7
}
.build-page .xterm-bg-75 {
 background-color:#5fafff
}
.build-page .xterm-bg-76 {
 background-color:#5fd700
}
.build-page .xterm-bg-77 {
 background-color:#5fd75f
}
.build-page .xterm-bg-78 {
 background-color:#5fd787
}
.build-page .xterm-bg-79 {
 background-color:#5fd7af
}
.build-page .xterm-bg-80 {
 background-color:#5fd7d7
}
.build-page .xterm-bg-81 {
 background-color:#5fd7ff
}
.build-page .xterm-bg-82 {
 background-color:#5fff00
}
.build-page .xterm-bg-83 {
 background-color:#5fff5f
}
.build-page .xterm-bg-84 {
 background-color:#5fff87
}
.build-page .xterm-bg-85 {
 background-color:#5fffaf
}
.build-page .xterm-bg-86 {
 background-color:#5fffd7
}
.build-page .xterm-bg-87 {
 background-color:#5fffff
}
.build-page .xterm-bg-88 {
 background-color:#870000
}
.build-page .xterm-bg-89 {
 background-color:#87005f
}
.build-page .xterm-bg-90 {
 background-color:#870087
}
.build-page .xterm-bg-91 {
 background-color:#8700af
}
.build-page .xterm-bg-92 {
 background-color:#8700d7
}
.build-page .xterm-bg-93 {
 background-color:#8700ff
}
.build-page .xterm-bg-94 {
 background-color:#875f00
}
.build-page .xterm-bg-95 {
 background-color:#875f5f
}
.build-page .xterm-bg-96 {
 background-color:#875f87
}
.build-page .xterm-bg-97 {
 background-color:#875faf
}
.build-page .xterm-bg-98 {
 background-color:#875fd7
}
.build-page .xterm-bg-99 {
 background-color:#875fff
}
.build-page .xterm-bg-100 {
 background-color:#878700
}
.build-page .xterm-bg-101 {
 background-color:#87875f
}
.build-page .xterm-bg-102 {
 background-color:#878787
}
.build-page .xterm-bg-103 {
 background-color:#8787af
}
.build-page .xterm-bg-104 {
 background-color:#8787d7
}
.build-page .xterm-bg-105 {
 background-color:#8787ff
}
.build-page .xterm-bg-106 {
 background-color:#87af00
}
.build-page .xterm-bg-107 {
 background-color:#87af5f
}
.build-page .xterm-bg-108 {
 background-color:#87af87
}
.build-page .xterm-bg-109 {
 background-color:#87afaf
}
.build-page .xterm-bg-110 {
 background-color:#87afd7
}
.build-page .xterm-bg-111 {
 background-color:#87afff
}
.build-page .xterm-bg-112 {
 background-color:#87d700
}
.build-page .xterm-bg-113 {
 background-color:#87d75f
}
.build-page .xterm-bg-114 {
 background-color:#87d787
}
.build-page .xterm-bg-115 {
 background-color:#87d7af
}
.build-page .xterm-bg-116 {
 background-color:#87d7d7
}
.build-page .xterm-bg-117 {
 background-color:#87d7ff
}
.build-page .xterm-bg-118 {
 background-color:#87ff00
}
.build-page .xterm-bg-119 {
 background-color:#87ff5f
}
.build-page .xterm-bg-120 {
 background-color:#87ff87
}
.build-page .xterm-bg-121 {
 background-color:#87ffaf
}
.build-page .xterm-bg-122 {
 background-color:#87ffd7
}
.build-page .xterm-bg-123 {
 background-color:#87ffff
}
.build-page .xterm-bg-124 {
 background-color:#af0000
}
.build-page .xterm-bg-125 {
 background-color:#af005f
}
.build-page .xterm-bg-126 {
 background-color:#af0087
}
.build-page .xterm-bg-127 {
 background-color:#af00af
}
.build-page .xterm-bg-128 {
 background-color:#af00d7
}
.build-page .xterm-bg-129 {
 background-color:#af00ff
}
.build-page .xterm-bg-130 {
 background-color:#af5f00
}
.build-page .xterm-bg-131 {
 background-color:#af5f5f
}
.build-page .xterm-bg-132 {
 background-color:#af5f87
}
.build-page .xterm-bg-133 {
 background-color:#af5faf
}
.build-page .xterm-bg-134 {
 background-color:#af5fd7
}
.build-page .xterm-bg-135 {
 background-color:#af5fff
}
.build-page .xterm-bg-136 {
 background-color:#af8700
}
.build-page .xterm-bg-137 {
 background-color:#af875f
}
.build-page .xterm-bg-138 {
 background-color:#af8787
}
.build-page .xterm-bg-139 {
 background-color:#af87af
}
.build-page .xterm-bg-140 {
 background-color:#af87d7
}
.build-page .xterm-bg-141 {
 background-color:#af87ff
}
.build-page .xterm-bg-142 {
 background-color:#afaf00
}
.build-page .xterm-bg-143 {
 background-color:#afaf5f
}
.build-page .xterm-bg-144 {
 background-color:#afaf87
}
.build-page .xterm-bg-145 {
 background-color:#afafaf
}
.build-page .xterm-bg-146 {
 background-color:#afafd7
}
.build-page .xterm-bg-147 {
 background-color:#afafff
}
.build-page .xterm-bg-148 {
 background-color:#afd700
}
.build-page .xterm-bg-149 {
 background-color:#afd75f
}
.build-page .xterm-bg-150 {
 background-color:#afd787
}
.build-page .xterm-bg-151 {
 background-color:#afd7af
}
.build-page .xterm-bg-152 {
 background-color:#afd7d7
}
.build-page .xterm-bg-153 {
 background-color:#afd7ff
}
.build-page .xterm-bg-154 {
 background-color:#afff00
}
.build-page .xterm-bg-155 {
 background-color:#afff5f
}
.build-page .xterm-bg-156 {
 background-color:#afff87
}
.build-page .xterm-bg-157 {
 background-color:#afffaf
}
.build-page .xterm-bg-158 {
 background-color:#afffd7
}
.build-page .xterm-bg-159 {
 background-color:#afffff
}
.build-page .xterm-bg-160 {
 background-color:#d70000
}
.build-page .xterm-bg-161 {
 background-color:#d7005f;
}
.build-page .xterm-bg-162 {
 background-color:#d70087
}
.build-page .xterm-bg-163 {
 background-color:#d700af
}
.build-page .xterm-bg-164 {
 background-color:#d700d7
}
.build-page .xterm-bg-165 {
 background-color:#d700ff
}
.build-page .xterm-bg-166 {
 background-color:#d75f00
}
.build-page .xterm-bg-167 {
 background-color:#d75f5f
}
.build-page .xterm-bg-168 {
 background-color:#d75f87
}
.build-page .xterm-bg-169 {
 background-color:#d75faf
}
.build-page .xterm-bg-170 {
 background-color:#d75fd7
}
.build-page .xterm-bg-171 {
 background-color:#d75fff
}
.build-page .xterm-bg-172 {
 background-color:#d78700
}
.build-page .xterm-bg-173 {
 background-color:#d7875f
}
.build-page .xterm-bg-174 {
 background-color:#d78787
}
.build-page .xterm-bg-175 {
 background-color:#d787af
}
.build-page .xterm-bg-176 {
 background-color:#d787d7
}
.build-page .xterm-bg-177 {
 background-color:#d787ff
}
.build-page .xterm-bg-178 {
 background-color:#d7af00
}
.build-page .xterm-bg-179 {
 background-color:#d7af5f
}
.build-page .xterm-bg-180 {
 background-color:#d7af87
}
.build-page .xterm-bg-181 {
 background-color:#d7afaf
}
.build-page .xterm-bg-182 {
 background-color:#d7afd7
}
.build-page .xterm-bg-183 {
 background-color:#d7afff
}
.build-page .xterm-bg-184 {
 background-color:#d7d700
}
.build-page .xterm-bg-185 {
 background-color:#d7d75f
}
.build-page .xterm-bg-186 {
 background-color:#d7d787
}
.build-page .xterm-bg-187 {
 background-color:#d7d7af
}
.build-page .xterm-bg-188 {
 background-color:#d7d7d7
}
.build-page .xterm-bg-189 {
 background-color:#d7d7ff
}
.build-page .xterm-bg-190 {
 background-color:#d7ff00
}
.build-page .xterm-bg-191 {
 background-color:#d7ff5f
}
.build-page .xterm-bg-192 {
 background-color:#d7ff87
}
.build-page .xterm-bg-193 {
 background-color:#d7ffaf
}
.build-page .xterm-bg-194 {
 background-color:#d7ffd7
}
.build-page .xterm-bg-195 {
 background-color:#d7ffff
}
.build-page .xterm-bg-196 {
 background-color:#f00
}
.build-page .xterm-bg-197 {
 background-color:#ff005f
}
.build-page .xterm-bg-198 {
 background-color:#ff0087
}
.build-page .xterm-bg-199 {
 background-color:#ff00af
}
.build-page .xterm-bg-200 {
 background-color:#ff00d7
}
.build-page .xterm-bg-201 {
 background-color:#f0f
}
.build-page .xterm-bg-202 {
 background-color:#ff5f00
}
.build-page .xterm-bg-203 {
 background-color:#ff5f5f
}
.build-page .xterm-bg-204 {
 background-color:#ff5f87;
}
.build-page .xterm-bg-205 {
 background-color:#ff5faf
}
.build-page .xterm-bg-206 {
 background-color:#ff5fd7
}
.build-page .xterm-bg-207 {
 background-color:#ff5fff
}
.build-page .xterm-bg-208 {
 background-color:#ff8700
}
.build-page .xterm-bg-209 {
 background-color:#ff875f
}
.build-page .xterm-bg-210 {
 background-color:#ff8787
}
.build-page .xterm-bg-211 {
 background-color:#ff87af
}
.build-page .xterm-bg-212 {
 background-color:#ff87d7
}
.build-page .xterm-bg-213 {
 background-color:#ff87ff
}
.build-page .xterm-bg-214 {
 background-color:#ffaf00
}
.build-page .xterm-bg-215 {
 background-color:#ffaf5f
}
.build-page .xterm-bg-216 {
 background-color:#ffaf87
}
.build-page .xterm-bg-217 {
 background-color:#ffafaf
}
.build-page .xterm-bg-218 {
 background-color:#ffafd7
}
.build-page .xterm-bg-219 {
 background-color:#ffafff
}
.build-page .xterm-bg-220 {
 background-color:#ffd700
}
.build-page .xterm-bg-221 {
 background-color:#ffd75f
}
.build-page .xterm-bg-222 {
 background-color:#ffd787
}
.build-page .xterm-bg-223 {
 background-color:#ffd7af
}
.build-page .xterm-bg-224 {
 background-color:#ffd7d7
}
.build-page .xterm-bg-225 {
 background-color:#ffd7ff
}
.build-page .xterm-bg-226 {
 background-color:#ff0
}
.build-page .xterm-bg-227 {
 background-color:#ffff5f
}
.build-page .xterm-bg-228 {
 background-color:#ffff87
}
.build-page .xterm-bg-229 {
 background-color:#ffffaf
}
.build-page .xterm-bg-230 {
 background-color:#ffffd7
}
.build-page .xterm-bg-231 {
 background-color:#ccc
}
.build-page .xterm-bg-232 {
 background-color:#080808
}
.build-page .xterm-bg-233 {
 background-color:#121212
}
.build-page .xterm-bg-234 {
 background-color:#1c1c1c
}
.build-page .xterm-bg-235 {
 background-color:#262626
}
.build-page .xterm-bg-236 {
 background-color:#303030
}
.build-page .xterm-bg-237 {
 background-color:#3a3a3a
}
.build-page .xterm-bg-238 {
 background-color:#444
}
.build-page .xterm-bg-239 {
 background-color:#4e4e4e
}
.build-page .xterm-bg-240 {
 background-color:#585858
}
.build-page .xterm-bg-241 {
 background-color:#626262
}
.build-page .xterm-bg-242 {
 background-color:#6c6c6c
}
.build-page .xterm-bg-243 {
 background-color:#767676
}
.build-page .xterm-bg-244 {
 background-color:#808080
}
.build-page .xterm-bg-245 {
 background-color:#8a8a8a
}
.build-page .xterm-bg-246 {
 background-color:#949494
}
.build-page .xterm-bg-247 {
 background-color:#9e9e9e
}
.build-page .xterm-bg-248 {
 background-color:#a8a8a8
}
.build-page .xterm-bg-249 {
 background-color:#b2b2b2
}
.build-page .xterm-bg-250 {
 background-color:#bcbcbc
}
.build-page .xterm-bg-251 {
 background-color:#c6c6c6
}
.build-page .xterm-bg-252 {
 background-color:#d0d0d0
}
.build-page .xterm-bg-253 {
 background-color:#dadada
}
.build-page .xterm-bg-254 {
 background-color:#e4e4e4
}
.build-page .xterm-bg-255 {
 background-color:#eee
}

}
